.register{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: Inter;
  color: white;
  display: flex;
  
}

.register__header{
  color: #FFF;
  position: relative;
  width: 880px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
 line-height: 22px;
 text-align: right;
height: 22px;
text-decoration: none;
border-radius: 1px, solid;
cursor: pointer;
}



.register__place-logo{
  display: flex;
  justify-content: space-between ;
}



.register__welcome{
  font-size: 29px;
  font-weight: 900;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 60px;


}

.register_form{
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;

}


.register__data{
  text-align: left;
  color: white;
  background-color: black;
  border: none;
  width: 358px;
  display: flex;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
 
}

.register__divider{
  display: block;
  border: 1px solid white;
  margin-bottom: 30px;

}

.register__path{
  height: 50px;
  border: none;
  border-radius: 2%;
  cursor: pointer;
  margin-top: 216px;
  font-size: 22px;
  width: 358px;
  
}

.register__signin{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  color: white;
  font-size: 17px;
  
}

.register__login-path{
  color: white;
  margin-left: 10px;
  text-decoration-line: none;

}

